body {
    font-family: 'Mulish', -apple-system, 'Noto Serif SC', "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", sans-serif;
}
.page {
    padding-top:0 !important;
}
section {
    // background: url('/img/bg.png');
    // background-repeat: repeat;
    // background-attachment: fixed;
    min-height: 100vh;
    padding-top: 5rem;
}
/* 目前没有用到 回复功能 和 Edit 功能 */
main > * {
    background: url('/img/bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
}z
/* 同上 */
.page-edit, .comments-wrapper {
    max-width: 100vw !important; 
}